In [27]:
import os
import numpy as np
import pandas as pd

In [28]:
db_folder_kaggle = os.path.join(os.getcwd(), '../DR Databases/Kaggle')
images_folder_kaggle = os.path.join(db_folder_kaggle, "images")
print("Images:",len(os.listdir(images_folder_kaggle)))

Images: 88700

In [29]:
labels_kaggle = pd.read_csv(os.path.join(db_folder_kaggle, "labels.csv"))
distribution_kaggle = pd.DataFrame({"percentage": labels_kaggle["level"].value_counts(normalize=True), 
                             "count": labels_kaggle["level"].value_counts()})
distribution_kaggle.head()

   percentage  count
0    0.736663  65342
2    0.148275  13152
1    0.069955   6205
3    0.023529   2087
4    0.021578   1914

In [31]:
labels_kaggle.head()

      image  level original_class
0   10_left      0          train
1  10_right      0          train
2   13_left      0          train
3  13_right      0          train
4   15_left      1          train